<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>

{% load static %}
{#<script src="/static/react_part.js"></script>#}
<script src="//fb.me/react-0.14.3.min.js"></script>
<script src="//fb.me/react-dom-0.14.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script>var my_var = "{{ person }}";</script>
<script type="text/babel" src="{% static "react_part2.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/babel" src="{% static "react_part2.js" %}"></script>


<body>
{{ person }}
<div id="test">
    <ShoppingList></ShoppingList>
</div>

<div id="root"></div>
<script type="text/babel">
    var Paragraph = React.createClass({
        comment:function(){
            alert('Clicked');
        },
        render:function(){
            return(
                <div>
                    <button onClick={this.comment} className="btn btn-danger">Cancel</button>
                    <button className="btn btn-info">Alert</button>
                </div>
            );
        }
    });
    ReactDOM.render(<div><Paragraph/></div>,document.getElementById("root"));
</script>

<div id="part2"></div>
<script type="text/babel">
    var Paragraph = React.createClass({
        comment:function(){
            alert('Clicked');
        },
        render:function(){
            return(
                <div>
                    <button onClick={this.comment} className="btn btn-danger">Cancel</button>
                    <button className="btn btn-info">Alert</button>
                </div>
            );
        }
    });
    ReactDOM.render(<div><Paragraph/></div>,document.getElementById("part2"));
</script>


<div id="part3">
</div>
<div id="part4"></div>
<div id="part5"></div>
<script type="text/babel">
    var Paragraph = React.createClass({
        render:function(){
            return(
                <div>
                    <h1>{{ person }}</h1>
                </div>
            );
        }
    });
    ReactDOM.render(<div><Paragraph/></div>,document.getElementById("part5"));
</script>


</body>

</html>